


//from base 16px
$em10px: 0.625em;
$em12px: 0.750em;
$em14px: 0.875em;
$em16px: 1em;
$em18px: 1.125em;
$em24px: 1.5em;
$em32px: 2em;

h6{ font-size: 0.75em;}
h5{ font-size: 0.875em;}
h4{ font-size: 1em;}
h3{ font-size: 1.125em;}
h2{ font-size: 1.5em;}
h1{ font-size: 2em;}